@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Story+Script&family=Tagesschrift&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --halfbody-image: linear-gradient(180deg, #ece8e3 0%, #f5f2ee 100%);
    --font1: font-family: "Story Script", sans-serif;
    --font2: font-family: "Tagesschrift", system-ui;
    --font3: font-family: "Cinzel", serif;
    --font4: font-family: "Zalando Sans Expanded", sans-serif;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--halfbody-color);
}

/*BackGround IMage...............................................*/

.bg {
    height: 580px;
    /*border: 1px solid;*/
    width: auto;
    background-image: url(/jawabg-shop.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}


/*....................Navbar..............................*/

.bg .navbar {

    margin-top: 30px;
    height: 70px;
    width: 95%;
    background-color: #f5f2ee;
    /*border: 1px solid;*/
    border-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.bg {
    .nav1 {
        flex-grow: 1;
        padding-left: 30px;
    }

    .nav2 {

        flex-grow: 2;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 0;
        }

        li {
            font-size: 18px;
            font-weight: 600;
            color: grey;

            a {
                text-decoration: none;
                color: grey;
            }
        }



    }

    .nav2:hover {
        cursor: pointer;

    }

    .nav2 li:hover {
        color: black;
        transition: 0.3s;
        transform: scale(1.08);
    }

    .nav3 {
        flex-grow: 1;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 0;
        }

        li {
            font-size: 18px;
            font-weight: 600;

        }
    }
}

/*................Navbar - Media.......................*/

@media screen and (max-width: 992px) {

    .bg .navbar .nav2 {
        display: none;

    }
}

@media screen and (max-width: 428px) {

    .bg .navbar {

        .nav1 {
            display: flex;
            justify-content: center;
        }

        .nav3 {
            display: none;
        }

    }
}

/*Navbar - Shop Hover...............................................*/

.bg .shopscroll {
    height: 550px;
    width: 85%;
    /*border: 1px solid;*/
    position: absolute;
    top: 110px;
    left: 110px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: none;
    z-index: 999;

}

.shopscroll {

    .scroll1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        /*border: 1px solid;*/

        ul {
            list-style-type: none;

            a {
                text-decoration: none;
                color: black;
                font-weight: 600;
            }

            li {
                font-size: 18px;
                font-weight: 400;
                color: rgb(128, 128, 128);
                padding-bottom: 5px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            li:hover {
                color: black;
                transform: translateX(10px);
                transition: 0.3s;
                cursor: pointer;
            }
        }


    }

    .scroll2 {
        margin-top: 15px;
        height: 200px;
        /*border: 1px solid;*/
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            border-radius: 10px;
            height: 180px;
        }

        img:hover {
            transform: scale(1.05);
            transition: .3s;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px){
    .bg .shopscroll{
        display: none !important;
    }
}

/*Navbar - Collections Hover...............................................*/

.bg .collecti {
    height: 250px;
    width: 95%;
    border: 1px solid;
    margin-top: 120px;
    border-color: transparent;
    position: absolute;
    background-color: white;
    display: none;
    z-index: 999;
}

.collecti {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 25px;
    border-radius: 10px;


    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 10px;

        img {
            border-radius: 10px;
        }

        img:hover {
            transform: scale(1.05);
            transition: 0.3s;
            box-shadow: 0px 0px 10px 5px grey;
        }

        a {
            text-decoration: none;
            color: grey;
            font-weight: 600;
        }

        a:hover::before {
            content: "-> ";
            font-weight: 800;
        }

        a:hover {
            transform: translateX(10px);
            transition: 0.3s;
            color: rgba(0, 0, 0, 0.671);
            font-weight: 700;
        }
    }
}

@media (max-width: 768px){
    .bg .collecti{
        display: none !important;
    }
}

/*Navbar - Pages Hover...............................................*/

.bg .pages {
    height: 250px;
    width: 15%;
    border: 1px Solid white;
    background: transparent;
    backdrop-filter: blur(8px);
    position: absolute;
    margin-top: 120px;
    border-radius: 10px;
    margin-left: 300px;
    display: none;
    z-index: 999;

    ul {
        list-style-type: none;
        margin-top: 20px;

    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        margin-left: 10px;
        margin-top: 9px;
        font-weight: 600;
    }
}

.bg .pages:hover {
    box-shadow: 0px 0px 20px 5px white;


}

.pages li:hover {
    transform: translateX(15px);
    transition: 0.3s;
    font-size: 20px;
}

@media (max-width: 768px){
    .bg .pages{
        display: none !important;
    }
}

/*LATEST FASHION...............................................*/

.bg .brand {
    height: auto;
    /* remove fixed height */
    width: 80%;
    /* responsive width instead of fixed 700px */
    max-width: 700px;
    /* don’t grow too big on large screens */
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 250px;



    p {
        color: rgba(255, 255, 255, 0.834);
        font-size: clamp(28px, 8vw, 80px);
        font-family: "Tagesschrift", system-ui;
    }

    .p2 {
        font-size: clamp(8px, 3vw, 18px);

        a {
            text-decoration: none;
            color: white;
        }
    }

}

.fade-in {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    /* added a subtle scale effect */
    animation: fadescale 1s ease forwards;
}

.fade-in:nth-child(1) {
    animation-delay: 0.2s;
}

.fade-in:nth-child(2) {
    animation-delay: 0.4s;
}

.fade-in:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadescale {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* Checkout - Form */
.contact-form {
    margin-top: 80px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f2ee;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-form>div {
    flex: 1 1 45%;
    min-width: 350;
    
}

.contact-form .form1 {
    input {
        width: 120px;
    }
}

.contact-form>div {
    max-width: 65%;
    background-color: var(--halfbody-image);
    padding: 20px;
}

label {
    font-weight: 600;
    font-size: 18px;
    font-family: var(--font3);
}

.col-12 p{
    font-family: var(--font3);
}

.col-12 button a{
    text-decoration: none;
    color: white;
}

@media (max-width: 1024px) {
    .contact-form>div {
        transition: 0.5s;
        max-width: 80%;
    }
    
}

@media (max-width: 768px) {
    .contact-form>div {
        transition: 0.5s;
        max-width: 80%;
    }
    
}


@media (max-width: 425px) {
    .contact-form>div {
        transition: 0.5s;
        max-width: 100%;
    }
    label{
        font-size: 16px;
    }
}